@model IEnumerable<inmobiliariaDEramo.Models.Inquilino>

<link rel="stylesheet" href="~/css/indexInquilino.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Inquilinos";
}

<h1>Inquilinos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInquilino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdInquilino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.Activo)
                    {
                        <span class="badge bg-success">Activo</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Inactivo</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdInquilino" title="Editar"><span
                            class="lnr lnr-pencil"></span>Editar</a>&nbsp;
                    <a asp-action="Eliminar" asp-route-id="@item.IdInquilino" title="Eliminar"><span
                            class="lnr lnr-cross"></span>Eliminar</a>
                    <a asp-action="Activar" asp-route-id="@item.IdInquilino" title="Activar"><span
                            class="lnr lnr-cross"></span>Activar</a>
                    @* <a asp-action="PorInquilino" asp-controller="Inmuebles" asp-route-id="@item.IdInquilino" title="Mis Propiedades"><span class="lnr lnr-apartment"></span></a>
                @Html.ActionLink("Mis Propiedades", "PorInquilino", "Inmuebles", new { id= item.IdInquilino }) *@
                </td>
            </tr>
        }
    </tbody>
</table>